<div class="modal" ng-click="vm.closeModal($event)">
    <div class="modal-content">
        <div class="box-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quam aliquam exercitationem dolorem voluptatibus placeat, architecto a sapiente ut ipsum itaque debitis enim deleniti modi eligendi amet officia fuga dignissimos.
        </div>
        <div class="box-2">
            <p>{{vm.cardD.toString()}}</p>
        </div>
        <div class="box-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quam aliquam exercitationem dolorem voluptatibus placeat, architecto a sapiente ut ipsum itaque debitis enim deleniti modi eligendi amet officia fuga dignissimos.</p>
        </div>
        <div class="modal-close" ng-click="vm.item = false">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
</div>

<!-- <div class="modal" ng-click="vm.closeModal($event)">
    <div class="modal-content">
        <div class="box-1">
            <p>{{vm.item.name}}</p>
            <img src="{{vm.item.image}}" alt="" width="200px">
        </div>
        <div class="box-2">
            <p>{{vm.item}}</p>
            <p>{{vm.cardD}}</p>
        </div>
        <div class="box-3">
            <button ng-click="vm.addRemove(vm.item, 'plus')">+</button>
            <button ng-click="vm.handler(vm.item)">AddToCart</button>
            <button ng-click="vm.addRemove(vm.item, 'minus')">-</button>
        </div>
        <div class="modal-close" ng-click="vm.item = false">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
</div> -->


